<section>
  <p>© {new Date().getFullYear()} Agustín Jiménez Polonio.</p>
  <div class="social">
    <img src="/linkedin.webp" alt="">
    <img src="/github.svg" alt="">
    <img src="/gmail.svg" alt="">
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1c1e23;
    color: white;
    border-radius: 15px;
    margin-top: auto;
  }

  .social {
    display: flex;
    gap: 10px;
  }

  img {
    width: 22px;
    opacity: .8;
  }
</style>